/* Universal styles */
html {
    font-size: 18px;
}
*, *::after, *::before {
    box-sizing: border-box; 
}
body {
    line-height: 1.5;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    font-size: 0.85rem;
}
h1 {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px #fff;
}
h2 {
    padding: 1rem 0;
    font-size: 1.6rem;
}
h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
}
h4 {
    font-size: 1.2rem;
    padding-top: 1rem;
}
.grid {
    display: grid;
}
.btn {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid black;
    background: transparent;
    margin: 1rem 0;
}
.cont-btn {
    color: #000;
    background: #fff;
    border: none;
    width: 150px;
}
.bold {
    font-weight: bold;
}
.flex {
    display: flex;
}
small {
    font-size: 0.7rem;
}
.yellow {
    color: rgb(158, 158, 65);
}

/* Header */

header {
    padding: 1rem;
    position: absolute;
    width: 100%;
}
.nav-bar {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}
.logo {
    padding-left: 5rem;
}
.menu-list {
    justify-content: center;
}
.ham-menu {
    text-align: right;
    padding-right: 3rem; 
    display: none;
}

/* Hero Section */

.hero {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 700px;
}
.hero-text {
    padding: 10rem 3rem;
    background: #F5E3D7;
}
.home-img {
    background: url(../media/home-img.jpg);
    background-position: center;
    background-size: cover;
}
.hero p {
    color: #777;
}

/* Section 3  About Section */

.sec3 {
    grid-template-columns: 1fr 0.5fr 0.5fr;
}
.sec3-text{
    color: #777;
}
.sec3-img {
    background: url("../media/about-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec3-col1 {
    padding: 2rem 3rem;
}
.sec3-col3 {
    background: #EEB965;
    padding: 0 2.5rem;
    color: #fff;
}
.orange-clr {
    color: orange;
    padding: 0.5rem 0;
}
.bar {
    color: #000;
    padding: 1rem 0;
}
progress {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #000;
}
progress::-webkit-progress-bar{
    background-color: #fff;
    border-radius: 4px;
}
progress[value]::-webkit-progress-value{
    background: #000;
}

/* Section 4 Services Section*/

.sec4 {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: #fff;
}
.interface {
    background: #ECAF4E;
    padding: 2rem;
}
.media {
    background: #F4663D;
    padding: 2rem;
}
.mobile {
    background: #161616;
    padding: 2rem;
}
.coding {
    background: #fff;
    color: #000;
    padding: 2rem;
}
.icon {
    font-size: 2rem;
    padding: 1rem;
}

/* Section 5 Experience Section */

.sec5 {
    grid-template-columns: repeat(2, 1fr);
}
.exp-img {
    background: url("../media/experience-img.jpg");
    background-size: cover;
}
.sec5-col2 {
    background: #F4663D;
    color: #fff;
    padding: 2rem 5rem;
}
.icon {
    padding-left: 0; 
}

/* Section 6 Education Section */

.sec6 {
    grid-template-columns: repeat(2, 1fr);
}
.edu-img {
    background: url("../media/education-img.jpg");
    background-size: cover;
}
.sec6-col1 {
    background: #ECAF4E;
    color: #fff;
    padding: 2rem 5rem;
}

/* Section 7 Contact Section*/

.sec7 {
    grid-template-columns: 1fr 0.5fr 0.5fr;
    color: #fff;
}
form {
    background: #F4663D;
    padding: 2rem;
}
.visit {
    background: #161616;
    padding: 2rem;
}
.cont-img {
    background: url("../media/contact-img.jpg");
    background-size: cover;
    background-position: center;
}
form textarea {
    resize: none;
}
form input,
form textarea {
    border: none;
    border-bottom: 1px solid yellow;
    background-color: transparent;
    width: 500px;
    padding: 1rem;
}

/* Section 8 Map Section */

.sec8 {
    background: #F4663D;
    padding: 3rem;
}
.map {
    text-align: center;
}
iframe {
    box-shadow: 2px 2px 5px 5px rgba(155, 146, 146, 0.63);
}

/* Footer */

footer {
    text-align: center;
    padding: 4rem 0; 
    color: #777777;
}
footer i {
    padding: 1rem;
}

/* Media Query */

@media all and (max-width: 900px) {
    html {
        font-size: 16px;
    }
    header {
        position: static;
    }
    .logo {
        padding-left: 1rem;
    }
    .menu-list {
        display: none;
    }
    .ham-menu {
        display: block;
    }

    .hero,
    .sec3,
    .sec4,
    .sec5,
    .sec6,
    .sec7 {
        grid-template-columns: 1fr;
    }
    iframe {
        width: 85%;
    }
    form input,
    form textarea {
        width: 80%;
    }
    .sec3-img,
    .exp-img,
    .edu-img,
    .cont-img {
        height: 300px;
    }
}